<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Emojicode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EmojicodeC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EmojicodeCompiler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E45FA2F21AA0D24200F032A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46422DC1A8A64F00007C0E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4E404061A5B2E4300034386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4F0483A1A7FDDA2005BB2C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
