Checks: '*,-modernize-raw-string-literal,-clang-analyzer-*,-readability-named-parameter,-google-readability-todo,-llvm-header-guard,-misc-unused-parameters,-google-runtime-int,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-google-default-arguments,-google-runtime-references,-modernize-return-braced-init-list,-cppcoreguidelines-special-member-functions,-hicpp-special-member-functions'
#Checks: '-*,modernize-pass-by-value,modernize-use-using,readability-braces-around-statement,google-explicit-constructor,llvm-include-order,llvm-namespace-comment' #performance-unnecessary-value-param
HeaderFilterRegex: '.*'
CheckOptions:
  - key: readability-identifier-naming.GlobalConstantPrefix
    value: 'k'
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: '_'
  - key: readability-identifier-naming.ProtectedMemberSuffix
    value: '_'
  - key: readability-identifier-naming.LocalVariableCase
    value: 'camelBack'
  - key: readability-identifier-naming.ClassCase
    value: 'CamelCase'
  - key: readability-identifier-naming.EnumCase
    value: 'CamelCase'
  - key: readability-function-size.BranchThreshold
    value: 5
  - key: readability-function-size.LineThreshold
    value: 30
  - key: readability-identifier-naming.PublicMemberSuffix
    value: ''
  - key: readability-identifier-naming.StaticVariableCase
    value: 'camelBack'
