<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Packages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SDL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>files.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>json.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>net.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>sqlite copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>sqlite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E41538461AE549AA00025753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E41AE3341ACC7E8400D27317</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E46235931B07456B003DE6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4646BF31B8DF44600CA506A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E47937001C36A3CE00536258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E49380FD1B05358900D6D004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4C40F681B4D73B700A4C6FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4E10B761ACA983B0072B4C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4E10B861ACA98EE0072B4C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
